
.active-link:hover {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 3px;
    background-color: rgba(165, 196, 216, 0.237);
    }